<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>


<div class="admin-page-container">
    <div class="user-list-container">
        <h5>Список пользователей</h5>
        <form name="userlist" class="user-list" th:each="user : ${userlist}" th:if="${not #lists.isEmpty(userlist)}">
            <input type="text" disabled name="username" th:class="user-list-username" th:text="${user.username}"></input>
            <input type="text" disabled name="email" th:class="user-list-email" th:text="${user.email}"></input>
            <input type="text" disabled name="dateOfRegistration" th:class="user-list-dateOfRegistration" th:text="${user.dateOfRegistration}"></input>
            <input type="checkbox" disabled name="activationCode " disabled th:class="user-list-activationCode" th:value="${user.activationCode}"></input>
            <select th:class="user-list-roles" name="roles">
                <option th:each="role : ${user.roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <select th:class="user-list-roles" name="roles">
                <option th:each="status : ${statuslist}" th:if="${status.statusName.equals()}" th:value="${status}" th:text="${status}"></option>
            </select>
            <input th:class="user-list-status" th:text="${user.status}"></input>
            <input th:class="user-list-loginAllowed" th:text="${user.loginAllowed}"></input>
            <input th:class="user-list-online" th:text="${user.online}"></input>
        </form>
        <div th:unless="${not #lists.isEmpty(userlist)}">Законы в базе данных отсутствуют.</div>
    </div>

</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
<script src="/static/js/addCategory.js"></script>
</body>
</html>