<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>


<div class="table-container">
<table align="center" class="admin-page-table" th:if="${not #lists.isEmpty(userlist)}">
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Почта</th>
        <th>Дата регистрации</th>
        <th>Активация</th>
        <th>Роли</th>
        <th>Статус</th>
        <th>Разрешение</th>
        <th>Online</th>
    </tr>

    <tr th:each="user : ${userlist}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.getStringRegistrationDate()}"></td>
        <td>
            <label th:class="checkbox-circle-lable">
                <input th:name="activationCode" disabled type="checkbox" th:class="checkbox-circle-input" th:checked="${#strings.isEmpty(user.activationCode)}">
                <div th:class="checkbox-circle-div"></div>
            </label>
        </td>
        <td>
            <div th:class="admin-page-table-role" th:name="rolesBox" th:each="role : ${allRoles}">
                <label th:class="checkbox-circle-lable">
                    <input disabled type="checkbox" th:class="checkbox-circle-input" th:name="role" th:value="${role.id}" th:checked="${user.roles.contains(role)}">
                    <div th:class="checkbox-circle-div"></div>
                    <span th:text="${role.name}"></span>
                </label>
            </div>
        </td>
        <td th:text="${user.status.getStatusName()}"></td>
        <td>
            <label th:class="checkbox-slider-lable">
                <input disabled type="checkbox" th:class="checkbox-slider-input" th:checked="${user.loginAllowed}">
                <div th:class="checkbox-slider-div"></div>
            </label>
        </td>
        <td>
            <label th:class="checkbox-circle-lable">
                <input disabled type="checkbox" th:class="checkbox-circle-input" th:checked="${user.online}">
                <div th:class="checkbox-circle-div"></div>
                <a th:href="@{/useredit/{userid}(userid=${user.id})}" target="_blank">
                    <div class="edit-button"></div>
                </a>
            </label>
        </td>
    </tr>
</table>

<div th:unless="${not #lists.isEmpty(userlist)}"></div>

</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
<script src="/static/js/addCategory.js"></script>
</body>
</html>