<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>

<div>
    <form id="editLaw">
        <h5>Список товаров</h5>
        <input type="text" placeholder="Артикул"><br>
        <input type="text" placeholder="Наименование"><br>
        <input type="submit" value="Загрузить списком">

        <h5>Категории</h5>
        <select required name="hero[]">
            <option disabled>Категория</option>
            <option value=""></option>
        </select><br>

        <h5>Законы</h5>

        <input type="button" onclick="existingLaw();" value="Выбрать из базы данных">
        <input type="button" onclick="addNewLaw();" value="Добавить новый закон">

        <input type="submit" value="Загрузить">

    </form>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
</body>
</html>