<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>

<div>
    <form id="categoryChoice">
        <h5>Выбор категории товаров</h5>
        <div class="listCategory active">
            <select name="category" id="categoryId" th:if="${not #lists.isEmpty(categories)}" onchange="selectChange();">
                <option>Все категории</option>
                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.category}"
                th:selected = "${categoryId.isPresent()} && ${cat.id} == ${categoryId.get()}"
                ></option>
                <!--th:selected="(${cat.id} == ${categoryId})"-->
                <br>
            </select>
            <p th:unless="${not #lists.isEmpty(categories)}">Категории в базе данных отсутствуют.</p>
        </div>
    </form>
    <form id="editLaw">

        <h5>Выбор законов для категории</h5>
        <input type="button" onclick="existingLaw();" value="Выбрать из базы данных">
        <input type="button" onclick="addNewLaw();" value="Добавить новый закон">
        <input type="submit" value="Отправить форму" th:if="${not #lists.isEmpty(categories)}">
        <p th:unless="${not #lists.isEmpty(categories)}">Невозможно отправить форму так как категории товаров в базе данных отсутствуют.</p>
    </form>

    <h5>Список законов в базе данных</h5>
    <div name="listOfLaws" class="listOfLaws" th:if="${not #lists.isEmpty(laws)}">
        <p th:class="lawNumber" th:each="law : ${laws}" th:text="${law.lawNumber}"></p>
        <p th:class="law" th:each="law : ${laws}" th:text="${law.law}"></p>
        <p th:unless="${not #lists.isEmpty(laws)}">Законы в базе данных отсутствуют.</p>
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
<script src="/static/js/addCategory.js"></script>
</body>
</html>