<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>

<div>
    <form id="productEditing" action="productEditing" method="post">
        <h5>Загрузка списка товаров</h5>
        <input type="text" placeholder="Артикул" name="vendorCode"><br>
        <input type="text" placeholder="Наименование" name="productName"><br>
        <input type="button" value="Загрузить списком">

        <h5>Выбор категории товаров</h5>
        <div class="listCategory active">
            <select th:each="cat : ${categories}" name="category">
                <option disabled>Категория</option>
                <option th:value="${cat.category}"></option>
            </select><br>
            <input type="button" value="добавить новую категорию" onclick="switchOnAddNewCategoryProduct();">
        </div>
        <div class="addNewCategory">
            <input id="categoryID">
            <lable for="categoryID">Название новой категории товаров</lable>
            <input type="button" value="Выбрать категорию из базы данных" onclick="switchOnListCategoryProduct();">
        </div>


        <input type="submit" value="Отправить форму">
    </form>

    <tr th:each="prod : ${products}">
        <td th:text="${prod.id}"></td>
        <td th:text="${prod.vendorCode}"></td>
        <td th:text="${prod.productName}"></td>
    </tr>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
</body>
</html>