<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>

<ul class="product-editing-main-container">
    <li class="product-editing-loading-products">
        <a class="toggle" href="javascript:void(0);">
            <h2>Загрузка товаров в базу данных</h2>
        </a>
        <ul class="inner">
            <li>
                <h5>Загрузка списка товаров</h5>
                <form id="producteditingform" action="producteditingform" method="post">
                    <div class="between-space">
                        <div class="addProductButtonBox">
                            <div class="file_inp">
                                <label>
                                    <input type="file" name="files" />
                                    <span>Выберите файл</span>
                                </label>
                            </div>
                            <input type="button" value="Загрузить список" onclick="readListProduct();">
                            <input type="button" value="Добавить товар" onclick="addOneProduct();">
                        </div>
                    </div>

                    <div class="addOneProduct"></div>
                    <div class="productEditList"></div>

                    <h5>Выбор категории товаров</h5>
                    <div class="listCategory active">
                        <div class="dropdown">
                            <div class="select">
                                <span>Выберите категорию</span>
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="categoryId">
                            <ul class="dropdown-menu">
                                <li th:id="${cat.id}" th:each="cat : ${categories}" th:text="${cat.category}"></li>
<!--                                <li th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.category}"></li>-->
                            </ul>
                        </div>

                        <div>
                            <input type="button" value="Добавить новую категорию" onclick="switchOnAddNewCategoryProduct();">
                            <input type="submit" value="Отправить форму">
                        </div>
                    </div>
                    <div class="addNewCategory">
                        <div>
                            <lable for="categoryName">
                                Новая категория:
                            </lable>
                            <input type="text" id="categoryName">
                        </div>
                        <div>
                            <input type="button" value="Выбрать категорию из базы данных" onclick="switchOnListCategoryProduct();">
                            <input type="submit" value="Отправить форму">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>

    <li class="product-editing-list-products">
        <a class="toggle" href="javascript:void(0);">
            <h2>Список товаров в базе данных</h2>
        </a>
        <ul class="inner">
            <li>
                <table class="product-list-table">
                    <tr>
                        <th>check</th>
                        <th>Артикул</th>
                        <th>Наименование</th>
                    </tr>
                    <label>
                        <tr th:each="prod : ${products}">
                            <td><input type="checkbox"></td>
                            <td th:text="${prod.vendorCode}"></td>
                            <td th:text="${prod.productName}"></td>
                        </tr>
                    </label>
                </table>

            </li>
        </ul>
    </li>
</ul>



<!--<div>-->
<!--    <form id="producteditingform" action="producteditingform" method="post">-->

<!--        <div class="addOneProduct">-->
<!--            <h5>Загрузка списка товаров</h5>-->
<!--            <input type="file">-->
<!--            <input type="button" value="Загрузить список" onclick="readListProduct();">-->
<!--            <input type="button" value="Добавить товар" onclick="addOneProduct();">-->
<!--            <br>-->
<!--        </div>-->

<!--        <div class="productEditList">-->

<!--        </div>-->

<!--        <h5>Выбор категории товаров</h5>-->
<!--        <div class="listCategory active">-->
<!--            <select name="categoryId" th:if="${not #lists.isEmpty(categories)}">-->
<!--                <option selected value> &#45;&#45; выберите категорию &#45;&#45; </option>-->
<!--                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.category}"></option>-->
<!--                <br>-->
<!--            </select>-->
<!--            <p th:unless="${not #lists.isEmpty(categories)}">Категории в базе данных отсутствуют.</p>-->
<!--            <input type="button" value="добавить новую категорию" onclick="switchOnAddNewCategoryProduct();">-->
<!--        </div>-->
<!--        <div class="addNewCategory">-->
<!--            <lable for="categoryName">Название новой категории товаров</lable>-->
<!--            <input id="categoryName">-->
<!--            <br>-->
<!--            <input type="button" value="Выбрать категорию из базы данных" onclick="switchOnListCategoryProduct();">-->
<!--        </div>-->


<!--        <input type="submit" value="Отправить форму">-->
<!--    </form>-->
<!--    <br>-->

<!--    <tr th:each="prod : ${products}">-->
<!--        <td th:text="${prod.id}"></td>-->
<!--        <td th:text="${prod.vendorCode}"></td>-->
<!--        <td th:text="${prod.productName}"></td>-->
<!--        <br>-->
<!--    </tr>-->
<!--</div>-->

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editProduct.js"></script>
<script src="/static/js/addCategory.js"></script>
<script src="/static/js/papaparse.js"></script>
</body>
</html>