<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--<form action="searchexample">-->
        <!--<input type="text" name="q" value="Введите текст">-->
        <!--<input type="submit" value="Поиск">-->

    <!--</form>-->

    <div class="serp-element" th:each="item : ${searchResults}">
        <a th:href="${item.id}"  th:text="${item.num}"></a>
        <p class="serp-snippet" th:text="${item.title}">
        <p class="serp-snippet" th:text="${item.snippet}">
            </div>


</body>
</html>