<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="search">
        <input type="text" name="q" value="Введите текст">
        <input type="submit" value="Поиск">

    </form>

    <ol>
        <li th:each="product : ${searchResults}">
            <span th:text="${product.vendorCode}"></span>
            <span th:text="${product.productName}"></span>
        </li>
    </ol>

</body>
</html>