<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/sass/main.css">

</head>
<body>


<div th:class="user-edit-main-container">
    <div th:class="user-container">
        <form name="userEditForm" th:class="user-edit-form" th:if="${not #lists.isEmpty(user)}" th:method="post">
            <h5>Страница редактирования пользователей</h5>
            <input type="text" hidden th:name="userId" th:value="${user.id}">
            <input type="text" name="username" th:class="user-edit-form-input-text" th:value="${user.username}" placeholder="Имя">
            <input type="text" name="usersurname" th:class="user-edit-form-input-text" placeholder="Фамилия">
            <input type="text" name="email" th:class="user-edit-form-input-text" th:value="${user.email}" placeholder="Почта">
            <input th:disabled="disabled" type="text" name="dateOfRegistration" th:class="user-edit-form-input-text" th:value="${user.getStringRegistrationDate()}" placeholder="Дата регистрации">
            <label th:class="checkbox-slider-lable">
                <span>Пользователь активирован:</span>
                <input type="checkbox" disabled th:name="activationCode" th:class="checkbox-slider-input" th:checked="${#strings.isEmpty(user.activationCode)}">
                <div th:class="checkbox-slider-div"></div>
            </label>
            <div th:class="user-edit-form-all-roles">
                <div>Права пользователя:</div>
                <label th:class="checkbox-slider-lable" th:name="rolesBox" th:each="role : ${allRoles}">
                    <span th:text="${role.name}" th:class="role-span"></span>
                    <input type="checkbox" th:class="checkbox-slider-input" th:name="role" th:value="${role.id}" th:checked="${user.roles.contains(role)}">
                    <div th:class="checkbox-slider-div"></div>
                </label>
            </div>
            <label class="user-status">
                <span>Статус пользователя</span>
                <input type="text" th:class="user-edit-form-input-text" th:value="${user.status.getStatusName()}">
            </label>
            <label th:class="checkbox-slider-lable">
                <span>Разрешение</span>
                <input type="checkbox" th:class="checkbox-slider-input" th:checked="${user.loginAllowed}">
                <div th:class="checkbox-slider-div"></div>
            </label>
            <label class="checkbox-circle-lable">
                <span>Online</span>
                <input type="checkbox" th:class="checkbox-circle-input" th:checked="${user.online}">
                <div th:class="checkbox-circle-div"></div>
            </label>
            <div class="user-edit-form-button-box">
                <input type="submit" th:formaction="@{/useredit/save_user}" th:class="user-list-save-button" value="Сохранить изменения">
                <input type="submit" th:formaction="del_user" th:class="user-list-del-button" value="Удалить пользователя">
            </div>
        </form>
        <div th:unless="${not #lists.isEmpty(user)}"></div>
    </div>
</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="/static/js/editLaw.js"></script>
<script src="/static/js/addCategory.js"></script>
</body>
</html>